ACCESS_SECRET_KEY=access_secret_key
REFRESH_SECRET_KEY=refresh_secret_key
PORT=3000
MONGO_URL=mongodb://localhost:27017/WeathWear
MONGO_TEST_URL=mongodb://localhost:27017/Test_WeathWear


RABBITMQ_URL=amqp://localhost:5672
GEMINI_API_KEY=yourkeyhere

OPENROUTER_API_KEY=yourkeyhere

WEATHER_API_KEY=yourkeyhere'

CLOUDINARY_CLOUD_NAME=yourkeyhere
CLOUDINARY_API_KEY=yourkeyhere
CLOUDINARY_API_SECRET=yourkeyhere

ALLOWED_ORIGIN=http://localhost:3000

ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=7d


